.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pfp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}